img {
  width: 100%;
  height: auto;
}

.portfolio {
  max-width: 900px;
  margin: 0 auto;
}

.projects {
  column-count: 3;
}

.projects-item {
  margin-bottom: 15px;
  margin-right: 0;
}

.filters {
  display: flex;
  margin-bottom: 10px;
}

.filters-item {
  background-color: white;
  border: 1px solid darkgray;
  padding: 5px 10px;
  cursor: pointer;
}

.filters-item-active {
  background-color: #777777;
  color: white;
}

.filters-item:not(:last-child) {
  margin-right: 5px;
}

